body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}
::placeholder {
    color: #bfc4d5;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #bfc4d5;
    opacity: 1;
}
::-ms-input-placeholder {
    color: #bfc4d5;
    opacity: 1;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #454d67;
    border-radius: 10px;
    padding: 5px;
}
::-webkit-scrollbar-thumb {
    background: #bfc4d5;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #bfc4d5;
}
p {
    margin: 0;
}
input {
    outline: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.marginBottom{
    margin-bottom: 5px;
}
.mainPage {
    width: 100%;
    height: 100%;
    background: #f2f3f8;
}
.flex {
    display: flex;
}
.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.sideNav {
    min-width: 200px;
    max-width: 250px;
    display: block;
    box-shadow: 0 0 10px 0 #c1c1c1;
    height: 100vh;
    z-index: 1;
}
.navTag {
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}
.logo {
    width: 50% !important;
}
.navTag:hover {
    background: #f1f1f1;
    color: #00f;
}
.activeNavTag {
    background: #f1f1f1;
    color: #00f;
}
.navPage {
    display: flex;
    height: 100vh;
}
.headerMain {
    padding: 0 20px;
    height: 50px;
    background: #fff;
    align-items: center;
}
.headerSecondPart {
    width: 100%;
}
.searchBox {
    width: 60%;
}
.pageName {
    margin-right: 10px;
    min-width: 15%;
    max-width: 20%;
}
.formInput {
    background: #f2f3f8;
    height: 25px;
    border: 1px solid #e2e5ec;
    width: 100%;
}
.formInput:focus {
    box-shadow: none !important;
    background-color: #f2f3f7;
    outline: 0;
    border: 1px solid #007bff !important;
}
.primaryButton,
.secondaryButton {
    border: 0;
    outline: 0;
    font-size: 12px;
    padding: 9px 20px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}
.primaryButton {
    color: #bcc2d6;
    background: #454d67;
}
.secondaryButton {
    background: #bfc4d5;
    color: #454d67;
}
.modalBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1;
}
.formBox {
    height: 100%;
}
.block {
    display: block;
}
.none {
    display: none;
}
.formBoxMain {
    width: 500px;
    background-color: #fff;
}
.mainForm {
    padding: 20px;
}
.formTag {
    margin-bottom: 20px;
    width: 48%;
}
.formTitle {
    font-size: 18px;
    font-weight: 500;
    color: #454d67;
    margin: 20px 0 0 20px;
}
.label {
    font-size: 14px;
    color: #454d67;
    margin-bottom: 3px;
}
.tableMain {
    width: 100%;
    /* position: relative; */
}
.page {
    height: calc(100vh - 90px);
    padding: 20px;
}
.pageBackground {
    background: #fff;
    height: 100%;
    overflow: auto;
    position: relative;
}
.backClick{
    width: fit-content;
    padding: 20px;
}
.tableRow {
    height: 30px;
}
.tableHeader {
    border-bottom: 0.7px solid rgba(224, 224, 224, 0.25);
    font-size: 12px;
    white-space: nowrap;
    color: #5a5d6e;
    padding: 20px;
}
.tableData {
    text-align: center;
    border-bottom: 0.7px solid rgba(224, 224, 224, 0.25);
    font-size: 12px;
}
.noData {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #454d67;
}
.noDataBox {
    width: 100%;
    position: absolute;
    height: 100%;
}
.filterNoData{
    height: calc(100% - 61px);
}
.chartBox {
    width: 40%;
    height: 300px;
}
.buttonLoader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 0;
    margin-left: 10px;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loaderButtonStyle {
    padding: 9px 20px 9px 35px !important;
}
.mobileNav {
    display: none;
}
.userDataSpacing {
    padding: 20px;
}
.mobileView{
    display: none;
}
@media only screen and (max-width: 1024px) {
    .navPage {
        display: block;
    }
    .sideNav {
        position: absolute;
        background: #fff;
        left: -300px;
        transition: 1s;
    }
    .mobileMenu {
        width: 100vw;
        background: rgba(0, 0, 0, 0.1);
        height: 100vh;
        position: absolute;
        z-index: 1;
    }
    .logo {
        width: 50px !important;
    }
    .page {
        height: calc(100vh - 155px);
    }
    .mobileNav {
        display: flex;
        padding: 0 20px;
        box-shadow: 0px 5px 5px 0 #e0e0e0;
        position: relative;
    }
    .menuIcon {
        width: 30px;
        cursor: pointer;
    }
    .sideNavOpen {
        left: 0;
        transition: 1s;
    }
    .desktopView{
        display: none;
    }
    .mobileView{
        display: flex;
        flex-wrap: wrap;
    }
    .cardMain{
        width:46%;
        background: white;
        box-shadow: 0 0 5px 0 #bfc4d5;
        margin:10px 1%;
        padding: 10px 1%;
        position: relative;
    }
    .userInfo{
        margin-bottom: 5px;
    }
    .userName{
        font-size: 18px;
    }
    .userAge{
        font-size: 12px;
    }
    .cardHead{
        font-size: 14px;
        color:#5a5d6e;
        font-weight: bold;
    }
    .cardData{
        font-size: 12px;
        margin-left: 5px;
    }
    .cardViewButton{
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 10px;
    }
    .cardBox{
        min-height: 100px;
        max-height: 200px;
        overflow: auto;
    }
}
@media only screen and (max-width: 768px) {
    .chartBox {
        width: 100%;
    }
}
.pageLoaderMain {
    position: absolute;
    background: #bfc4d5;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.pageLoader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 640px) {
    .formBoxMain{
        width:300px;
        height: 300px;
        position: relative;
    }
    .mainForm{
        position: absolute;
        height: calc(300px - 85px);
        overflow: auto;
    }
    .tableMain{
        width:300px !important;
    }
    .cardMain{
        margin:10px 2%;
        width:100%;
    }
}

@media only screen and (max-width: 480px) {
    .primaryButton,.secondaryButton{
        padding: 9px 10px;
        font-size: 10px;
    }
}